<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="font/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div  id="app" class="container">
     <div class="logo">
        <img src="https://www.boolean.careers/images/misc/logo.png" alt="logo">
     </div>
     <div class="intestazione">
         <h1>TODO-LIST STUDENTI</h1>
     </div>

     <div class="newTodo">
        <input @keyUp.enter='addTodo' type="text" placeholder="nuovi elementi lista" v-model="nuoviTodo" name="" id="">
        <button @click="addTodo">Aggiungi alla lista</button> <button @click="cancella">cancella lista</button>

     </div>





     <div class="Todos">
        
       <ul v-if="todos.length > 0 ">
           <li v-for="(todo,index) in todos">
               {{todo}}
               <i @click="removeTodo(index) " class="fas fa-times"></i>
           </li>
       </ul>
       <h4 v-else>NESSUN ELEMENTO NELLA LISTA</h4>
     </div>




    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>